<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
    <style data-boc-styles="">
        /* CSS */
        .main_container {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .boc-light {
            background-color: rgb(16, 16, 35) !important;
        }

        #tree {
            width: 100%;
            height: 100%;
        }

        .boc-input,
        .boc-edit-form-header {
            display: none;
        }

        .boc-edit-form.light.ula.undefined {
            display: none !important;
        }

        .boc-edit-form {
            display: none !important;
        }
    </style>
</head>

<body>
    <div class="main_container">
        <div id="tree">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:block;"
                width="1883" height="700" viewBox="-381.5,-30,1883,700">
                <defs>
                    <linearGradient id="olivia_gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="var(--color-stop-1)" stop-opacity="var(--opacity-stop)"></stop>
                        <stop offset="100%" stop-color="var(--color-stop-2)" stop-opacity="var(--opacity-stop)"></stop>
                    </linearGradient>
                    <filter id="_62u1" x="0" y="0" width="200%" height="200%">
                        <feOffset result="offOut" in="SourceAlpha" dx="5" dy="5"></feOffset>
                        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="5"></feGaussianBlur>
                        <feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend>
                    </filter>
                    <linearGradient id="_aies" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color:#646464;stop-opacity:1"></stop>
                        <stop offset="100%" style="stop-color:#363636;stop-opacity:1"></stop>
                    </linearGradient>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox"
                        id="isla-shadow">
                        <feOffset dx="0" dy="4" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                        </feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.2 0" in="shadowBlurOuter1"
                            type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                        <feMerge>
                            <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                            <feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge>
                    </filter>
                </defs>
                <g data-pointer="pointer" transform="matrix(0,0,0,0,100,100)">
                    <radialGradient id="pointerGradient">
                        <stop stop-color="#ffffff" offset="0"></stop>
                        <stop stop-color="#C1C1C1" offset="1"></stop>
                    </radialGradient>
                    <circle cx="16" cy="16" r="16" stroke-width="1" stroke="#acacac" fill="url(#pointerGradient)">
                    </circle>
                </g>
                <g data-n-id="1" style="opacity: 1" transform="matrix(1,0,0,1,435,0)" class="node" data-sl="0"
                    data-l="0">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_epmo">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_85ke)"
                        xlink:href="https://cdn.balkan.app/shared/1.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Sumit</text>
                    <text data-width="135" class="olivia-f1" x="100" y="76">Chairman and SEO</text>
                </g>
                <g data-n-id="2" style="opacity: 1" transform="matrix(1,0,0,1,0,180)" class="node" data-sl="1"
                    data-l="1">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_80ke">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_80ke)"
                        xlink:href="https://cdn.balkan.app/shared/2.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Lexie Cole</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">QA Lead</text>
                </g>
                <g data-n-id="5" style="opacity: 1" transform="matrix(1,0,0,1,0,360)" class="node tree-layout"
                    data-sl="2" data-l="2">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_6nbn">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_6nbn)"
                        xlink:href="https://cdn.balkan.app/shared/5.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Elliot Ross</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">QA</text>
                </g>
                <g data-n-id="6" style="opacity: 1" transform="matrix(1,0,0,1,0,495)" class="node tree-layout"
                    data-sl="3" data-l="2">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_99ay">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_99ay)"
                        xlink:href="https://cdn.balkan.app/shared/6.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Anahi Gordon</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">QA</text>
                </g>
                <g data-n-id="7" style="opacity: 1" transform="matrix(1,0,0,1,0,630)" class="node tree-layout"
                    data-sl="4" data-l="2">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_dxmd">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_dxmd)"
                        xlink:href="https://cdn.balkan.app/shared/7.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Knox Macias</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">QA</text>
                </g>
                <g data-n-id="3" style="opacity: 1" transform="matrix(1,0,0,1,435,180)" class="node" data-sl="1"
                    data-l="1">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_7119">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_7119)"
                        xlink:href="https://cdn.balkan.app/shared/anim/1.gif" x="10" y="20" width="80" height="80">
                    </image><text data-width="135" class="olivia-f0" x="100" y="55">Janae Barrett</text><text
                        data-width="135" class="olivia-f1" x="100" y="76">Technical Director</text>
                </g>
                <g data-n-id="8" style="opacity: 1" transform="matrix(1,0,0,1,290,360)" class="node" data-sl="2"
                    data-l="2">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_rl2h">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_rl2h)"
                        xlink:href="https://cdn.balkan.app/shared/8.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Nash Ingram</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">.NET Team Lead</text>
                </g>
                <g data-n-id="10" style="opacity: 1" transform="matrix(1,0,0,1,290,540)" class="node tree-layout"
                    data-sl="3" data-l="3">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_7ppq">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_7ppq)"
                        xlink:href="https://cdn.balkan.app/shared/10.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Alice Gray</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">Programmer</text>
                </g>
                <g data-n-id="11" style="opacity: 1" transform="matrix(1,0,0,1,290,675)" class="node tree-layout"
                    data-sl="4" data-l="3">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_1fol">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_1fol)"
                        xlink:href="https://cdn.balkan.app/shared/11.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Anne Ewing</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">Programmer</text>
                </g>
                <g data-n-id="9" style="opacity: 1" transform="matrix(1,0,0,1,580,360)" class="node" data-sl="2"
                    data-l="2">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_bmso">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_bmso)"
                        xlink:href="https://cdn.balkan.app/shared/9.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Sage Barnett</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">JS Team Lead</text>
                </g>
                <g data-n-id="12" style="opacity: 1" transform="matrix(1,0,0,1,580,540)" class="node tree-layout"
                    data-sl="3" data-l="3">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_qp0t">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_qp0t)"
                        xlink:href="https://cdn.balkan.app/shared/12.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Reuben Mcleod</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">Programmer</text>
                </g>
                <g data-n-id="13" style="opacity: 1" transform="matrix(1,0,0,1,580,675)" class="node tree-layout"
                    data-sl="4" data-l="3">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_kepm">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_kepm)"
                        xlink:href="https://cdn.balkan.app/shared/13.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Ariel Wiley</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">Programmer</text>
                </g>
                <g data-n-id="4" style="opacity: 1" transform="matrix(1,0,0,1,870,180)" class="node" data-sl="1"
                    data-l="1">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_2wzt">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_2wzt)"
                        xlink:href="https://cdn.balkan.app/shared/4.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Aaliyah Webb</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">Manager</text>
                </g>
                <g data-n-id="14" style="opacity: 1" transform="matrix(1,0,0,1,870,360)" class="node tree-layout"
                    data-sl="2" data-l="2">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_0xid">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_0xid)"
                        xlink:href="https://cdn.balkan.app/shared/14.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Lucas West</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">Marketer</text>
                </g>
                <g data-n-id="15" style="opacity: 1" transform="matrix(1,0,0,1,870,495)" class="node tree-layout"
                    data-sl="3" data-l="2">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_ag24">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_ag24)"
                        xlink:href="https://cdn.balkan.app/shared/15.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Adan Travis</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">Designer</text>
                </g>
                <g data-n-id="16" style="opacity: 1" transform="matrix(1,0,0,1,870,630)" class="node tree-layout"
                    data-sl="4" data-l="2">
                    <rect fill="url(#olivia_gradient)" x="0" y="0" height="120" width="250" stroke-width="1"
                        stroke="#aeaeae" rx="7" ry="7"></rect>
                    <clipPath id="_jaof">
                        <circle cx="50" cy="60" r="40"></circle>
                    </clipPath>
                    <image preserveAspectRatio="xMidYMid slice" clip-path="url(#_jaof)"
                        xlink:href="https://cdn.balkan.app/shared/16.jpg" x="10" y="20" width="80" height="80"></image>
                    <text data-width="135" class="olivia-f0" x="100" y="55">Alex Snider</text><text data-width="135"
                        class="olivia-f1" x="100" y="76">Sales Manager</text>
                </g>
                <g data-l-id="[1][2]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none"
                        d="M560,120 560,145 Q560,150 555,150 L130,150 Q125,150 125,155 L125,180"></path>
                </g>
                <g data-l-id="[1][3]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M560,120 L560,180">
                    </path>
                </g>
                <g data-l-id="[1][4]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none"
                        d="M560,120 560,145 Q560,150 565,150 L990,150 Q995,150 995,155 L995,180"></path>
                </g>
                <g data-ctrl-ec-id="1" transform="matrix(1,0,0,1,545,105)" style="cursor:pointer;">
                    <circle cx="15" cy="15" r="15" class="boc-fill" stroke="#aeaeae" stroke-width="1"></circle>
                    <line x1="4" y1="15" x2="26" y2="15" stroke-width="1" stroke="#aeaeae"></line>
                </g>
                <g data-l-id="[2][5]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M125,300 L125,360">
                    </path>
                </g>
                <g data-ctrl-ec-id="2" transform="matrix(1,0,0,1,110,285)" style="cursor:pointer;">
                    <circle cx="15" cy="15" r="15" class="boc-fill" stroke="#aeaeae" stroke-width="1"></circle>
                    <line x1="4" y1="15" x2="26" y2="15" stroke-width="1" stroke="#aeaeae"></line>
                </g>
                <g data-l-id="[5][6]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M125,480 L125,495">
                    </path>
                </g>
                <g data-l-id="[6][7]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M125,615 L125,630">
                    </path>
                </g>
                <g data-l-id="[3][8]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none"
                        d="M560,300 560,325 Q560,330 555,330 L420,330 Q415,330 415,335 L415,360"></path>
                </g>
                <g data-l-id="[3][9]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none"
                        d="M560,300 560,325 Q560,330 565,330 L700,330 Q705,330 705,335 L705,360"></path>
                </g>
                <g data-ctrl-ec-id="3" transform="matrix(1,0,0,1,545,285)" style="cursor:pointer;">
                    <circle cx="15" cy="15" r="15" class="boc-fill" stroke="#aeaeae" stroke-width="1"></circle>
                    <line x1="4" y1="15" x2="26" y2="15" stroke-width="1" stroke="#aeaeae"></line>
                </g>
                <g data-l-id="[8][10]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M415,480 L415,540">
                    </path>
                </g>
                <g data-ctrl-ec-id="8" transform="matrix(1,0,0,1,400,465)" style="cursor:pointer;">
                    <circle cx="15" cy="15" r="15" class="boc-fill" stroke="#aeaeae" stroke-width="1"></circle>
                    <line x1="4" y1="15" x2="26" y2="15" stroke-width="1" stroke="#aeaeae"></line>
                </g>
                <g data-l-id="[10][11]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M415,660 L415,675">
                    </path>
                </g>
                <g data-l-id="[9][12]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M705,480 L705,540">
                    </path>
                </g>
                <g data-ctrl-ec-id="9" transform="matrix(1,0,0,1,690,465)" style="cursor:pointer;">
                    <circle cx="15" cy="15" r="15" class="boc-fill" stroke="#aeaeae" stroke-width="1"></circle>
                    <line x1="4" y1="15" x2="26" y2="15" stroke-width="1" stroke="#aeaeae"></line>
                </g>
                <g data-l-id="[12][13]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M705,660 L705,675">
                    </path>
                </g>
                <g data-l-id="[4][14]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M995,300 L995,360">
                    </path>
                </g>
                <g data-ctrl-ec-id="4" transform="matrix(1,0,0,1,980,285)" style="cursor:pointer;">
                    <circle cx="15" cy="15" r="15" class="boc-fill" stroke="#aeaeae" stroke-width="1"></circle>
                    <line x1="4" y1="15" x2="26" y2="15" stroke-width="1" stroke="#aeaeae"></line>
                </g>
                <g data-l-id="[14][15]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M995,480 L995,495">
                    </path>
                </g>
                <g data-l-id="[15][16]" class="link ">
                    <path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M995,615 L995,630">
                    </path>
                </g>
            </svg>
        </div>
    </div>

    <script src="https://balkan.app/js/OrgChart.js"></script>
    <script src="/javascripts/tree.js"></script>

</body>

</html>